<div class="dolebas-user-email" style="font-size:15px;">
    <a class="use-ajax" data-dialog-type="modal" href="/user/dolebas-login-url">
        <i class="fa fa-user-o" style="font-size:20px;color:gray;"></i>
    </a>
</div>
